[Unit]
Description=streamdeck-yaml

[Service]
ExecStart=/bin/sh -c '%h/software/streamdeck-yaml/run.sh config.yml 2>&1 | tee /tmp/streamdeck-yaml.%u.log'
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
